:root {
  --primary-yellow: #ffea00;
  --background-black: #000000;
  --soft-yellow: #56500b;

  --background-gray: #2f2f2f;
  --border-gray: #616161;

  --list-borders: #323284;
  --list-even-rows: #00003c;
  --list-even-rows-hover: #000033;
  --list-odd-rows: #0d0d5d;
  --list-odd-rows-hover: #060656;

  --button: #0d0d5d;
  --button-borders: #323284;
  --button-hover: #060656;
}

body {
  margin: 0;
  padding: 0;
  font-family: Tahoma,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.5;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-black);
  color: var(--primary-yellow);
}

/* Page magic */

section.page {
  display: none;
  max-width: 900px;
  margin: 0 auto;
  overflow: auto;
}
section.page.active {
  display: block;
}

/* Chord selection toggles */

#chord-search {
  background-color: var(--soft-yellow);
  margin-top: 1rem;
  padding: 1rem;
  font-size: 0.8em;
  border-radius: 10px;
}
#chord-search p {
  margin: 0 0 1em 0;
}
#chord-search input {
  display: none;
}
#chord-search label {
  display: inline-block;
  margin: 0.1em 0;
  padding: 0.5em;

  color: var(--primary-yellow);
  background-color: var(--background-gray);
  border-radius: 10px;
  cursor: pointer;
}
#chord-search input:checked + label {
  color: black;
  background-color: var(--primary-yellow);
}

/* Song list styling */

h1 {
  text-align: center;
}
#song-list {
  padding: 0;
  border: 1px solid var(--list-borders);
  border-bottom: 0;
}
#song-list li {
  list-style-type: none;
  border-bottom: 1px solid var(--list-borders);
  background-color: var(--list-odd-rows);
  cursor: pointer;
}
#song-list li a {
  padding: 1em;
}
#song-list li:nth-child(even) {
  background-color: var(--list-even-rows);
}
#song-list li:hover {
  background-color: var(--list-odd-rows-hover);
}
#song-list li:nth-child(even):hover {
  background-color: var(--list-even-rows-hover);
}

/* Seach component styling */

#search-control {
  margin-top: 1em;
  display:flex;
}
#search-song {
  flex: 1;
  padding: 1rem;
  width: 100%;

  background-color: var(--background-gray);
  border: 1px solid var(--border-gray);
  border-right: 0;
  border-radius: 10px 0 0 10px;

  font-family: Tahoma,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1em;
  color: white;
}
#search-song:focus {
  outline: none;
}
#search-song::placeholder {
  color: #eeeeee;
}
.search-button {
  background-color: var(--background-gray);
  border: 1px solid var(--border-gray);
  flex: 0;
  border-radius: 0 10px 10px 0;
}
.search-button:hover {
  background-color: var(--button-hover);
  cursor: pointer;
}

.song-link {
  width: 100%;
  display: inline-block;
}

/* Lyrics / chords page styling */

pre {
  width: 100%;
  overflow: auto;
  font-size: 16px;
}
span.chord {
  background-color: var(--primary-yellow);
  color: black;
  padding: 0 3px;
  margin: 0 -6px 0 0;
}

.back-button {
  display: inline-block;
  margin: 1em 0;
  padding: 0.5em 1em;

  text-decoration: none;
  color: white;
  background-color: var(--button);
  border: 1px solid var(--button-borders);
  border-radius: 10px;
  cursor: pointer;
}
.back-button:hover {
  background-color: var(--button-hover);
}

/* Mobile specific styling */

@media only screen and (max-width: 900px) {
  #search-control, .back-button, #chord-search {
    margin: 1em;
  }
  #song-list {
    border-left: 0;
    border-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  pre {
    font-size: calc(4px + 1.5vw);
  }
}
