$primary-yellow:       #ffea00;
$background-black:     #000000;
$soft-yellow:          #56500b;

$background-gray:      #2f2f2f;
$border-gray:          #616161;

$list-borders:         #323284;
$list-even-rows:       #00003c;
$list-even-rows-hover: #000033;
$list-odd-rows:        #0d0d5d;
$list-odd-rows-hover:  #060656;

$button:               #0d0d5d;
$button-borders:       #323284;
$button-hover:         #060656;
