@import 'colours';

/* Seach component styling */

#search-control {
  margin-top: 1em;
  display:flex;

  @media only screen and (max-width: 900px) {
    margin: 1em;
  }

  #search-song {
    flex: 1;
    padding: 1rem;
    width: 100%;

    background-color: $background-gray;
    border: 1px solid $border-gray;
    border-right: 0;
    border-radius: 10px 0 0 10px;

    font-family: Tahoma,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1em;
    color: white;

    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #eeeeee;
    }
  }

  .search-button {
    background-color: $background-gray;
    border: 1px solid $border-gray;
    flex: 0;
    border-radius: 0 10px 10px 0;

    &:hover {
      background-color: $button-hover;
      cursor: pointer;
    }
  }
}

/* Chord selection toggles */

#chord-search {
  background-color: $soft-yellow;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 0.8em;
  border-radius: 10px;

  p {
    margin: 0 0 1em 0;
  }

  input {
    display: none;
  }

  label {
    display: inline-block;
    margin: 0.1em 0;
    padding: 0.5em;

    color: $primary-yellow;
    background-color: $background-gray;
    border-radius: 10px;
    cursor: pointer;
  }

  input:checked + label {
    color: black;
    background-color: $primary-yellow;
  }

  @media only screen and (max-width: 900px) {
    margin: 1em;
  }
}
